BODY
{
}
.C1
{
    BORDER-TOP: black thin;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 25pt;
    COLOR: black;
    FONT-FAMILY: 'Times New Roman', Arial;
    BACKGROUND-COLOR: black;
} 
.C3
{
    BORDER-RIGHT: black thin solid;
    BORDER-TOP: black thin solid;
    FONT-SIZE: 12pt;
    TEXT-TRANSFORM: none;
    BORDER-LEFT: black thin solid;
    COLOR: #003366;
    BORDER-BOTTOM: black thin solid;
    BACKGROUND-COLOR: white;
    FONT-VARIANT: normal
}
.C4
{
    BACKGROUND-COLOR: black;
}
.C6
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: black;
}
.l1a
{
    BORDER-RIGHT: #ffffff 1px;
    BORDER-TOP: #ffffff 1px;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #ffffff 1px;
    COLOR: gray;
    BORDER-BOTTOM: #ffffff 1px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: black;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.l1b
{
    BORDER-RIGHT: #ffffff 1px;
    BORDER-TOP: #ffffff 1px;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #ffffff 1px;
    COLOR: black;
    BORDER-BOTTOM: #ffffff 1px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: black;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
A.l2:hover
{
    FONT-SIZE: 10pt;
    COLOR: #e3d266;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
A.l2
{
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
.H3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 20pt;
    COLOR: black;
    FONT-FAMILY: Arial, 'Verdana Ref', Verdana
}
.H1
{
    FONT-SIZE: 25pt;
    COLOR: black;
    FONT-FAMILY: 'Times New Roman', Arial
}
.H2
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
A.l3:hover
{
    FONT-SIZE: 10pt;
    COLOR: #3399ff;
    FONT-FAMILY: Arial, Verdana
}
A.l3
{
    FONT-SIZE: 10pt;
    COLOR: blue;
    FONT-FAMILY: Arial, Verdana
}
.normal
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: gray;
    FONT-FAMILY: 'Verdana Ref', Verdana
}
.H4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: black;
    FONT-FAMILY: 'Times New Roman', Arial, Verdana
}
A.l4:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: white;
    FONT-FAMILY: 'Times New Roman';
    TEXT-DECORATION: none
}
A.l4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    TEXT-TRANSFORM: none;
    COLOR: gainsboro;
    FONT-FAMILY: 'Times New Roman';
    TEXT-DECORATION: none
}
.C2
{
    BACKGROUND-COLOR: black
}
.C99
{
    background-color: black;
}
.C98
{
    background-color: black;
}